
.bookmark-list{
  margin-top: 60px;
  padding: 40px 0px;
} 

.bookmark-title{
  margin: 20px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
}

.bookmark-cards{
  padding-top:10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-items: center;
  align-items: start;
}

.message{
  font-size: 1.2rem;
  color: #555;
  text-align: left;
  margin: auto;
  width: 100%;
}

@media (max-width: 600px) {
  .bookmark-cards {
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
    gap: 10px;
  }
}