.navbar {
  display: flex;
  height:65px;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  /* background-color: #1f1f1f; */
  background-color: #22b14c;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}


.left-nav{
  list-style: none;
}
.left-nav li a{
  font-size: 24px;
  font-weight: bold;
  color: #ddd;
}

.left-nav li a:hover {
  text-decoration: none;
  color: #fff;
}

.middle-nav,
.right-nav {
  list-style: none;
  display: flex;
  gap: 16px;
}

.middle-nav li a,
.right-nav li a {
  color: #ddd;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.middle-nav li a:hover,
.right-nav li a:hover {
  color: #fff;
}

.signup-btn {
  /* background-color: #007bff; */
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  transition: background 0.3s;
}


