:root{
  --color : #fff;
  --color-hover:white;
  --primary-color: #22b14c;
  --primary-bg-color: #17913a;
  --bg: #f7f9fb;
  --text-color: #222;
  --text-light: #444;
  --font-main: 'Segoe UI', Arial, sans-serif;
  --transition: background-color 0.3s ease;
  color: #4acd6ff0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg);
  color: var(--text-color);
  line-height: 1.5;
}


button {
  color: #fff;
  border: none;
  padding: 0.6em 1.2em;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s;
}

button:hover {
  background-color: var(--primary-bg-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: 1rem;
}

a {
  color: var(--color);
  text-decoration: none;
}

a:hover {
  color: var(--color-hover);
  text-decoration: underline;
}